REPO_URL=https://github.com/jimskon/coLearn-AI.git
REPO_BRANCH=main
APP_USER=skon
APP_DIR=/opt/coLearn-AI
PORT=4000
DOMAIN=jimskon.com
WWW_DOMAIN=www.jimskon.com
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=colearnai_db
DB_USER=colearnai_user
DB_PASSWORD=KenyonPhilander707Chase
CLIENT_ORIGIN=https://jimskon.com
SESSION_SECRET=
SERVICE_ACCOUNT_EMAIL=pogil-sheets-reader@colearn-ai.iam.gserviceaccount.com
APP_ROOT_NAME=Administrator
APP_ROOT_EMAIL=admin@jimskon.com
APP_ROOT_PASSWORD=
BOOTSTRAP_APP_ROOT=1
SERVER_ENTRY=server/index.js
ENABLE_CXX_RUNNER=0
CXX_RUNNER_REPO_URL=
CXX_RUNNER_DIR=/opt/cxx-runner
CXX_RUNNER_BRANCH=main
CXX_RUNNER_PORT=5055
